<div class="container">
  <p-carousel *ngIf="(posts | async)! && (posts | async)!.length>0" [value]="(posts | async)!" orientation="vertical"
    [style]="{'max-width':'950px'}" verticalViewPortHeight="500px" [numVisible]="1" [numScroll]="1"
    [circular]="isCircular" [autoplayInterval]="interval">
    <!-- [autoplayInterval]="interval" -->
      <ng-template pTemplate="header">
          <h5>הודעות ({{length}})</h5>
      </ng-template>
      <ng-template let-post pTemplate="item">
          <div class="post-item">
              <div class="post-item-content">
                  <div>
                      <h6 style="font-size: 16px;">{{post.title}}</h6>
                      <!-- <p class="p-mb-1">{{post.description}}</p> -->
                      <p [innerHTML]="post.description | linebreaks" style="font-size: 18px;"> </p>
                  </div>
                  <!-- <span style="font-size: 10px;">נכתב ב {{post.date | date:'dd/MM/yyyy'}} ע"י {{post.user.username}}</span> -->
                  <span style="font-size: 10px;">נכתב ב {{post.date | date:'dd/MM/yyyy'}} ע"י נציגות וועד בית</span>
                </div>
            </div>
      </ng-template>
    </p-carousel>
</div>
